@import "tailwindcss";

:root {
  --background: #e7e9ee;
  --header: #5429cc;
  --foreground: #171717;
  --button: #6933ff;
  --INCOME: #33cc95;
  --OUTCOME: #e52e4d;
  --title: #363f5f;
  --table: #969cb2;
  --input-border: #d7d7d7;
  --transaction-border: #d7d7d7;
  --modal: #f0f2f5;
}

@theme inline {
  --color-background: var(--background);
  --color-header: var(--header);
  --color-foreground: var(--foreground);
  --color-button: var(--button);
  --color-INCOME: var(--INCOME);
  --color-OUTCOME: var(--OUTCOME);
  --color-title: var(--title);
  --color-table: var(--table);
  --color-input-border: var(--input-border);
  --color-transaction-border: var(--transaction-border);
  --color-modal: var(--modal);
}

@media (prefers-color-scheme: inline) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Poppins, Helvetica, sans-serif;
}
